@model IEnumerable<UspgPOS.Models.Marcas>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Marcas</h1>

<p>
    <a class="btn btn-success" asp-action="Create"> <i class="bi bi-plus"></i>Crear Marcas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ThumbnailUrl))
                {
                        <img src="@item.ThumbnailUrl" style="max-width:100px; max-height:100px" />
                }
                else
                {
                        <p> No hay imagen disponible </p>
                }
            </td>
            <td>
                    <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil"></i> Editar</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-eye"></i> Ver Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash"></i>  Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
